
	<% if @user %>
		<h1><%= @user.name %>'s Profile</h1>

	<div>
		<% if @user.previous_events.any? %>

			
			<h1>Previous Events: </h1>

			<%= render @user.previous_events %>

		<% end %>

		<% if @user.upcoming_events.any? %>

			<h1>Upcoming Events: </h1>

			<%= render @user.upcoming_events %>

		<% end %>


	<% else %>

		<h1> User doesn't exist </h1>

	<% end %>

	</div>