<% if @user %>
<h1><%= @user.name %></h1>

<h2>Hosting:</h2>

<% if @user.events.any? %>

<%= render @user.events %> 

<% end %>

<% if @user.attended_events.any? %>

<h2>Attending: </h2>

<%= render @user.attended_events %>

<% end %>


<% else %>

<h1> User doesn't exist </h1>

<% end %>