<% if @user %>
<h1><%= @user.name %>'s Profile</h1>

<h1>Hosting:</h1>

<% if @user.events.any? %>

<%= render @user.events %> 

<% end %>

<% if @user.attended_events.any? %>

<div>
<h1>Attending: </h1>

<%= render @user.attended_events %>

<% end %>


<% else %>

<h1> User doesn't exist </h1>

<% end %>

</div>