<h1> Past Events </h1>

<% if Event.past.any? %>
	
<%= render Event.past %>

<% else %>

<h4> NO EVENTZ T_T >.< </h4>

<% end %>


<h1> Future Events </h1>

<% if Event.future.any? %>
	
<%= render Event.future %>

<% else %>

<h4> NO EVENTZ T_T >.< </h4>

<% end %>




