<h1> Invite Users </h2>

<p> Do I create an Invite model which handles invitation_id, invitee_id, inviter_id?</p>

<p> Or do I use only associations? </p>

<h2> FORM: INVITE FROM YOUR HOSTED EVENTS, SHOW DROPDOWN MENU WITH ALL REGISTERED USERS WHO ARE NOT GOING TO YOUR EVENT </h2>

<h1> Pending Invitations </h1>

<h2> THIS IS JUST GETTING USER.INVITATIONS_PENDING. If Accepts add him to Event.atendees otherwise delete invitation </h2>
